<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="League\Event">
            <directory suffix="Test.php">src/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src/</directory>
            <exclude>
                <directory suffix="Test.php">src/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
