<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.url == '/' %}
        <title>{{ site.data.project.title }} - {{ site.data.project.tagline }}</title>
    {% else %}
        <title>{{ page.title }} - {{ site.data.project.title }}</title>
    {% endif %}
    {% if site.data.project.description %}
        <meta name="description" content="{{ site.data.project.description }}">
    {% endif %}
    {% if site.data.images.favicon %}
        <link rel="icon" type="image/x-icon" href="{{ site.data.images.favicon }}" />
    {% else %}
        <link rel="icon" type="image/x-icon" href="https://theme.thephpleague.com/img/favicon.ico" />
    {% endif %}
    {% if site.data.images.apple_touch %}
        <link rel="apple-touch-icon-precomposed" href="{{ site.data.images.apple_touch }}">
    {% else %}
        <link rel="apple-touch-icon-precomposed" href="https://theme.thephpleague.com/img/apple-touch-icon-precomposed.png">
    {% endif %}
    <link rel="stylesheet" href="https://theme.thephpleague.com/css/all.css">
</head>
<body>
<section class="all_packages">
    <a href="https://thephpleague.com/">
        <img src="https://theme.thephpleague.com/img/loep_logo.png" width="195" height="200" alt="The League of Extraordinary Packages">
    </a>
    <h2>Our Packages:</h2>
    <ul>
        <!-- Loaded via JavaScript -->
    </ul>
</section>

{% include header.html %}

<input type="checkbox" id="menu">
<label for="menu" onclick>
    <div class="closed">&#9776; Menu</div>
    <div class="open">&#9776; Hide Menu</div>
</label>

<main>
    <menu>
        <h2>Versions:</h2>
        <ul>
            {% assign version = page.url | remove_first: "/" | split: "/"" | first %}
            {% for v in site.data.project.versions %}
                <li {% if version == v.number %}class="selected"{% endif %}>
                    <a href="{{ v.number }}/">{{ v.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% for section in site.data.menu[version] %}
            <h2>{{ section[0] }}</h2>
            <ul>
                {% for link in section[1] %}
                    <li {% if page.url == link[1] %}class="selected"{% endif %}>
                        <a href="{{ link[1] }}">{{ link[0] }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </menu>
    <article>
        {{ content }}
    </article>
</main>

{% include footer.html %}

</body>
</html>
