---
name: Quality Assurance
on:
  push: ~
  pull_request: ~

jobs:
  phpunit:
    name: PHPUnit tests on ${{ matrix.php }} ${{ matrix.composer-flags }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ '7.2', '7.3', '7.4' ]
        coverage: [ true ]
        composer-flags: [ '' ]
        phpunit-flags: [ '--coverage-text' ]
        include:
          - php: '8.0'
            coverage: false
            composer-flags: '--ignore-platform-req=php'
          - php: '7.2'
            coverage: false
            composer-flags: '--prefer-lowest'
  steps:
    - uses: actions/checkout@v2
    - uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        coverage: pcov
        tools: composer:v2
    - run: composer install --no-progress ${{ matrix.composer-flags }}
    - run: vendor/bin/phpunit ${{ matrix.phpunit-flags }}

